<hr class="my-4">

<footer class=" text-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Nama saya Rico Pratama tinggal di Palembang, ID Kegiatan MSIB saya adalah 7639894.</p>
            </div>
            <div class="col-md-4">
                <h5>Hobi saya adalah:</h5>
                <ul>
                    <li>Futsal</li>
                    <li>Memancing</li>
                    <li>Berenang</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kontak Saya:</h5>
                <ul>
                    <li>Hp: 08962376123</li>
                    <li>IG: <a href="https://www.instagram.com/iamri30" class="text-dark">@iamri30</a></li>
                    <li>Email: <a href="mailto:ricolaa02@gmail.com" class="text-dark">ricolaa02@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>